:root {
    --font: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    overflow: hidden;

    background-color: #aaa;
}

.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.camera {
    width: 40vmax;
    height: auto;
    filter: drop-shadow(0px 6px 10px #2525253f);
    animation: camera-fade-in 3s 1 forwards;

    cursor: pointer;
}

#shutter {
    display: inline-block;
    cursor: pointer;
    transition: .25s;
    /* border-radius: 5px; */
}

#shutter:hover {
    transform: scale(1.2);
    /* background-color: #fff; */
    padding: 0 10px;
    /* letter-spacing: .1em; */
}

#shutter:active {
    transform: scale(0.8);
    /* background-color: #fff; */
    /* padding: 0 10px; */
    padding: 0;
    /* letter-spacing: .1em; */
}

.filmArea {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform: translateY(-100%);
    z-index: 3;
}

@keyframes film-drop {
    0% { transform: translateY(-100%); }
    50%, 75% { transform: translateY(0%); opacity: 100%; }
    100% { transform: translateY(0%); opacity: 0%; }
}

.landingText {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--font);
    -webkit-user-select: none;
    user-select: none;
}

.landingText > div:nth-child(1) {
    font-size: 7vw;
    white-space: nowrap;
    animation: landing-text 3s 1 forwards;
}

.landingText > div:nth-child(2) {
    font-size: 35px;
}

.landingText > div:nth-child(2) > span{
    animation: red-breath linear 2s infinite;
}

@keyframes camera-fade-in {
    0% {
        opacity: 0%;
        transform: translateY(-200%);
    }
    100% {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes camera-fade-out {
    from {
        opacity: 100%;
        transform: translateY(0%);
    }
    to {
        opacity: 0%;
        transform: translateY(-200%);;
    }
}

@keyframes landing-text {
    from {
        opacity: 0%;
        letter-spacing: 0.1em;
    }
    to {
        opacity: 100%;
        letter-spacing: 0em;
    }
}

@keyframes red-breath {
    0%, 100% {
        color: #252525;
    }
    50% {
        color: red;
    }
}

@keyframes drop-out {
    from {
        opacity: 100%;
        transform: translateY(0%);
    }
    to {
        opacity: 0%;
        transform: translateY(100%);
    }
}

.transitionBg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #252525;
    z-index: 2;

    transform: translateY(100%);
}

@keyframes bg2-slide-in {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
}

@media (max-width: 540px) {
    .landing-text > div:nth-child(1) {
        font-size: 9vw;
        animation: unset;
    }
    .landing-text > div:nth-child(2) {
        font-size: 5vw;
    }
}